n8n terapeuta particular.json
{
  "name": "Teste2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1e30a37-27b4-49db-a8fe-fc807f50b6c4",
              "name": "IdConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "d8afc727-f126-455c-b7ad-7292237508ff",
              "name": "Mensagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "7cce9c5a-06dd-4980-a81f-5c453908b124",
              "name": "Nome",
              "value": "={{ $json.body.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "f21e088d-67e7-4639-8c6d-4b4e867f77bb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super terapeuta engraçado e humanizado. \nSeu nome é Robson Machado.\nUse exemplos práticos, metáforas criativas e humor leve para aliviar o peso dos assuntos quando necessário. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        0
      ],
      "id": "f7709abd-0ebf-4b25-8ba6-f6c4f1d23576",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "a0093298-6b08-497b-8fa7-b34189124605",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "E6HEeAhJRauIFwgA",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        208
      ],
      "id": "c6f01e0c-493d-4c58-a2f4-2f9a9a823f4c",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1824,
        0
      ],
      "id": "722806f1-4f8f-4148-863c-970ccc71f167",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zAPI",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        16
      ],
      "id": "271adcee-729a-436c-b2f6-5d738eb1cbb0",
      "name": "Webhook",
      "webhookId": "e44d3d7d-9069-42f3-93c0-4def41555651"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1732e65-a6ac-41f6-8e1e-a3428dc639cb",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "89ab5a7c-3565-47d9-b9be-5ac446d93222",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "5948a808-90a4-4558-a187-10ccac5187f6",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "678b0d73-46bb-4d3b-84a6-4141da0533b3",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        16
      ],
      "id": "aabd5b7b-0357-46a9-b8cf-ab5563192790",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "id": "ab8e21bb-030d-4f9f-a0f9-465a043cbdf5",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1OZ1jK1bN01KR2CvvCWnMSwsl5WIIeiVUona2ebe-YHM",
          "mode": "list",
          "cachedResultName": "Sheets N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ1jK1bN01KR2CvvCWnMSwsl5WIIeiVUona2ebe-YHM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 614263007,
          "mode": "list",
          "cachedResultName": "Page-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ1jK1bN01KR2CvvCWnMSwsl5WIIeiVUona2ebe-YHM/edit#gid=614263007"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.Nome }}",
            "WhatsApp": "={{ $json.IdConversa }}"
          },
          "matchingColumns": [
            "WhatsApp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        0
      ],
      "id": "d03a4e47-ef16-4b60-be58-ff8845179ec4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ITQ49FnpaDnsyNnb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.z-api.io/instances/3E67E39515C6509032E502852FF107C6/token/8BFE45C4C8687B4BAF547704/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F1f3866a7cae54581aa056c03096de9cfS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.IdConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ],
      "id": "62d8ab98-30d6-4fd0-a9e4-0cdf0176a25b",
      "name": "HTTP Request",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5062ffe4-047f-4b20-8708-d3a291317045",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea1545940189acbb8dce59d0f1733ddc8f887579c624c23f9187cc493be89c4"
  },
  "id": "IBp5xIaINH4xiEXy",
  "tags": []
}